:root {
  --font-base: "Roboto Condensed", "Arial", sans-serif;
  --font-second: "Alumni Sans", "Arial", sans-serif;
  --color-base: #102654;
  --color-second: #ffffff;
  --color-opacity: rgba(16, 38, 84, 0.5);
  --color-price: #103aae;
  --color-features: #2e35ac;
  --price-shadow: rgba(232, 232, 232, 0.48);
  --base-grad: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
  --bg-base: #ffffff;
  --bg-second: #f8f9fc;
  --bg-third: #1c3374;
  --bg-form: #102654;
  --bg-accent: #ed0233;
  --bg-dark: #030a1a;
  --active-border: #d10a42;
}
