/* GLOBAL */
@import "vendor/normalize";
@import "./common/root";
@import "./common/global";
@import "./common/fonts";

/* BLOCKS */
@import "./blocks/about";
@import "./blocks/body";
@import "./blocks/card";
@import "./blocks/contacts";
@import "./blocks/container";
@import "./blocks/faq";
@import "./blocks/features";
@import "./blocks/footer";
@import "./blocks/form";
@import "./blocks/games";
@import "./blocks/header";
@import "./blocks/hero";
@import "./blocks/juri";
@import "./blocks/main";
@import "./blocks/main-title";
@import "./blocks/member";
@import "./blocks/nav";
@import "./blocks/offers";
@import "./blocks/price";
@import "./blocks/review";
@import "./blocks/reviews";
@import "./blocks/second-title";
@import "./blocks/social";
@import "./blocks/visually-hidden";
@import "./blocks/wrapper";
