.contacts {
  padding: 37px 15px 40px;
}

.contacts .contacts__title {
  text-align: left;
}

.contacts__title {
  margin: 0;
  margin-bottom: 39px;
}

.contacts__wrapper,
.contacts__info-wrapper,
.contacts {
  display: flex;
  flex-direction: column;
}

.contacts__wrapper {
  gap: 28px;
}

.contacts__info-wrapper {
  gap: 12px;
}

.contacts__subtitle {
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
}

.contacts__info {
  line-height: 1.43;
  font-weight: 400;
}

.contacts__info--address {
  font-style: normal;
}

.contacts__info--schedule {
  margin: 0;
}

.contacts__info--phone,
.contacts__info--email {
  color: inherit;
  text-decoration: none;
}

@media (width >= 768px) {
  .contacts {
    padding: 60px;
  }

  .contacts .contacts__title {
    text-align: center;
  }

  .contacts__title {
    margin-bottom: 36px;
  }

  .contacts__wrapper {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, min-content);
    column-gap: 60px;
    row-gap: 15px;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 1px;
      height: 100%;
      background-color: #74819c;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .contacts__info-wrapper {
    min-width: 190px;
    gap: 5px;
  }

  .contacts__info-wrapper--address {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .contacts__info-wrapper--schedule {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .contacts__info-wrapper--phone {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .contacts__info-wrapper--email {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .contacts__subtitle {
    max-width: 190px;
    font-size: 24px;
  }

  .contacts__info {
    max-width: 190px;
    line-height: inherit;
  }
}

@media (width >= 1366px) {
  .contacts {
    padding: 60px 103px;
    border-top: 1px solid #74819c;
  }

  .contacts__wrapper {
    column-gap: 121px;
    row-gap: 14px;
    grid-template-columns: repeat(2, 178px);
  }

  .contacts .contacts__title {
    align-self: flex-start;
  }

  .contacts__info-wrapper {
    min-width: 100%;
  }
}
