.features {
  width: 100%;
  background-color: var(--bg-second, #f8f9fc);
  padding: 41px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.features__title {
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}

.features__list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 27px;
}

.features__item:not(:nth-child(3)) {
  display: grid;
  grid-template-rows: repeat(3, min-content);
}

.features__item h3 {
  font-size: 18px;
  line-height: 1.11;
  font-weight: 400;
  justify-self: center;
  margin: 0;
  margin-bottom: 4px;
  grid-row: 3 / 4;
}

.features__item span {
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
  justify-self: center;
  grid-row: 1 / 2;
  background: linear-gradient(129deg, #d10a42 5%, #d10a42 10%, #0041ca 30%, #0041ca 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: var(--color-base, #000080);
}

.features__item i {
  font-size: 14px;
  line-height: 1.43;
  font-weight: 400;
  font-style: normal;
  text-transform: lowercase;
  color: var(--color-features, #000080);
  margin-bottom: 12px;
  justify-self: center;
  grid-row: 2 / 3;
}

.features__item p {
  max-width: 230px;
  text-align: center;
  justify-self: center;
  margin: 8px 0;
  grid-row: 4 / 5;
}

.features__item:nth-child(3) {
  width: 100%;
  background-color: var(--bg-third, #000080);
  margin: 5px 0;
  padding: 30px;
  color: var(--color-second, #ffffff);
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(1, min-content);
}

.features__item:nth-child(3) h3 {
  width: 170px;
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-bottom: 12px;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.features__item:nth-child(3) span {
  width: 170px;
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5px;
  color: var(--color-second, #ffffff);
  background: var(--bg-base, #ffffff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.features__item:nth-child(3) p {
  width: 170px;
  margin: 8px 0;
  text-align: center;
  justify-self: center;
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

@media (width <= 767px) {
  .features__item:nth-child(4) {
    margin-top: 8px;
  }
}

@media (width >= 768px) {
  .features {
    padding: 60px 45px;
  }

  .features__title {
    margin-bottom: 50px;
  }

  .features__list {
    width: 678px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 324px);
    grid-template-rows: repeat(3, min-content);
    column-gap: 30px;
    row-gap: 40px;
  }

  .features__item:not(:nth-child(3)) {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, min-content);
    column-gap: 15px;
  }

  .features__item h3 {
    font-size: 20px;
    line-height: 1;
    justify-self: flex-start;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .features__item span {
    font-size: 70px;
    justify-self: flex-start;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .features__item i {
    line-height: inherit;
    margin-bottom: 0;
    justify-self: flex-start;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .features__item p {
    max-width: 238px;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    justify-self: flex-start;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }

  .features__item:first-child {
    align-self: baseline;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .features__item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .features__item:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .features__item:nth-child(4) p {
    max-width: 202px;
  }

  .features__item:last-child {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .features__item:first-child p {
    max-width: 203px;
  }

  .features__wrapper {
    max-width: 768px;
  }

  .features__item:nth-child(3) {
    width: 320px;
    margin: 0 auto;
    padding: 35px 35px 27px;
    justify-self: center;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    box-sizing: border-box;
  }

  .features__item:nth-child(3) h3 {
    width: 200px;
    font-size: 24px;
    margin-bottom: 17px;
  }

  .features__item:nth-child(3) span {
    width: 200px;
    font-size: 70px;
    margin-bottom: 25px;
  }

  .features__item:nth-child(3) p {
    width: 200px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (width >= 1366px) {
  .features {
    padding: 100px 103px;
    box-sizing: border-box;
  }

  .features__title {
    margin-bottom: 50px;
  }

  .features__list {
    width: 1160px;
    margin: 0;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, min-content);
    column-gap: 40px;
    row-gap: 80px;
    position: relative;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 360px;
      height: 2px;
      background-color: rgba(209, 10, 66, 0.2);
      position: absolute;
    }

    &::after {
      left: 100%;
      transform: translateX(-100%);
    }
  }

  .features__item:first-child {
    align-self: flex-start;
  }

  .features__item:nth-child(2) {
    min-height: 110px;
    align-self: flex-start;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .features__item:nth-child(3) {
    width: 360px;
    min-height: 300px;
    padding: 58px 40px;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }

  .features__item:nth-child(3) h3 {
    width: 280px;
    font-size: 26px;
    margin-bottom: 22px;
  }

  .features__item:nth-child(3) span {
    width: 280px;
    margin-bottom: 2px;
  }

  .features__item:nth-child(3) p {
    width: 280px;
  }

  .features__item:nth-child(4) {
    grid-row: 2 / 3;
  }

  .features__item:last-child {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .features__item:not(:nth-child(3)) {
    min-height: 110px;
    align-self: flex-start;
    grid-template-columns: 107px 210px;
    grid-template-rows: repeat(4, min-content);
    column-gap: 43px;
  }

  .features__item h3 {
    font-size: 22px;
    margin-bottom: 0;
  }

  .features__item p {
    max-width: none;
    margin-bottom: 8px;
    grid-row: 2 / 5;
  }
}
