.juri {
  width: 290px;
  background-color: var(--bg-base, #ffffff);
  margin: 0 auto;
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.juri__swiper {
  width: 260px;
}

.juri__title {
  margin: 0;
  margin-bottom: 20px;
}

.juri__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.juri__list .member {
  width: 260px;
  display: flex;
  flex-wrap: wrap;
}

@media (width <= 767px) {
  .juri__button {
    display: none;
  }
}

@media (width >= 768px) {
  .juri {
    width: 678px;
    padding: 30px 45px 60px;
  }

  .juri__wrapper {
    width: 678px;
    display: flex;
    align-items: center;
    column-gap: 26px;
  }

  .juri .swiper {
    width: 560px;
  }

  .juri__title {
    margin-bottom: 46px;
  }

  .juri__button {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-color: inherit;
    border-radius: 50%;
    border: 1px solid transparent;
    padding: 0;
    z-index: 10;

    &:hover,
    &:focus {
      border-color: var(--color-base, #000080);
    }

    &:focus {
      background-color: #e8e8e8;
    }

    &:active {
      background-color: var(--color-base, #000080);
      border-color: var(--color-base, #000080);
    }

    &:active::before {
      border-color: var(--color-second, #ffffff);
    }

    &:disabled::before {
      border-color: rgba(16, 38, 84, 0.3);
    }
  }

  .juri__button--prev::before,
  .juri__button--next::before {
    content: "";
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-base, #000080);
    transform: rotate(45deg);
  }

  .juri__button--prev::before {
    left: 10px;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
  }

  .juri__button--next::before {
    left: 2px;
    clip-path: polygon(100% 0, 100% 100%, 0 0);
  }

  .juri__list {
    display: flex;
  }
}

@media (width >= 1366px) {
  .juri {
    width: 1270px;
    padding: 100px 48px;
  }

  .juri .juri__list {
    width: 1160px;
  }

  .juri__wrapper {
    width: 1270px;
    column-gap: 20px;
    justify-content: center;
  }

  .juri .swiper {
    width: 1270px;
  }

  .juri__wrapper .juri__swiper {
    display: flex;
  }

  .juri__button {
    width: 40px;
    height: 36px;
  }

  .juri__button--prev::before {
    left: 12px;
  }

  .juri__button--next::before {
    left: 4px;
  }
}
