.main-title {
  font-family: var(--font-second, inherit);
  font-size: 32px;
  line-height: 1;
  font-weight: 600;
}

@media (width >= 768px) {
  .main-title {
    font-size: 42px;
  }
}

@media (width >= 1366px) {
  .main-title {
    font-size: 54px;
  }
}
